$color-pink: #ff4081;
$color-pink-dark: #c60055;
$color-pink-light: #ff79b0;

$color-green: #dbe9d8;
$color-pewter: #b0aac2;
$color-blue: #bbc4ef;
$color-black: #121212;
$color-white: #feffff;
$color-grey: #757575;

%paragraph-shared {
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
  color: $color-black;
  @media screen and (min-width: 800px) {
    font-size: 1.8rem;
  }
  @media screen and (min-width: 1000px) {
    font-size: 2.278rem;
  }

  @media screen and (min-width: 1200px) {
    font-size: 2.563rem;
  }
}
