@import '../../abstractions/abstactions';

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.45;
}

p {
  @extend %paragraph-shared;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  font-weight: 400;
  margin: 4.4rem 0 1.6rem;
  color: $color-black;
}

h1 {
  margin-top: 0;
  font-size: 2.563rem;
}

h2 {
  font-size: 2.883rem;
}
h3 {
  font-size: 2.563rem;
  @media screen and (min-width: 800px) {
  }
  @media screen and (min-width: 1000px) {
    font-size: 2.863rem;
  }

  @media screen and (min-width: 1200px) {
    font-size: 3.244rem;
  }
}
h4 {
  font-size: 2.278rem;
}
h5 {
  font-size: 2.025rem;
  @media screen and (min-width: 800px) {
  }
  @media screen and (min-width: 1000px) {
    font-size: 2.563rem;
  }
  @media screen and (min-width: 1200px) {
    font-size: 2.863rem;
  }
}
h6 {
  font-size: 1.8rem;
}
