@keyframes scale-right {
  from {
    transform-origin: left;
    transform: scaleX(0);
  }

  to {
    transform-origin: left;
    transform: scaleX(1);
  }
}

@keyframes scale-down {
  from {
    transform-origin: center top;
    transform: scaleY(0);
  }

  to {
    transform-origin: center top;
    transform: scaleX(1);
  }
}

@keyframes scale-left {
  from {
    transform-origin: right;
    transform: scaleX(0);
  }

  to {
    transform-origin: right;
    transform: scaleX(1);
  }
}

@keyframes scale-up {
  from {
    transform-origin: center bottom;
    transform: scaleY(0);
  }

  to {
    transform-origin: center bottom;
    transform: scaleY(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
    visibility: hidden;
  }

  to {
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes slide-up-sm {
  from {
    transform: translateY(50px);
    visibility: hidden;
  }

  to {
    transform: translateY(0);
    visibility: visible;
  }
}
